<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>关于我们</title>
  <% include common/head.html %>
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/header.html  %>
    <div class="header">
     <img src="../img/img_guanyuwomen.png" alt="">
    </div>
    <div class="content">
       <div>
         广州炫娱网络科技有限公司成立于2015年3月，
         暂时拥有员工超过60人，其中核心研发人员占比达70%以上，
         主营手机游戏的运营、研发、分发、充值平台推广、提供游戏资讯下载充值等全方位服务。
       </div>
       <div>
         公司秉承以"公正 尽责 合作 创新"，坚持"用户第一""为客户满意"的方针，一切以客户需求为中心，
         服务于客户，致力于为客户提供出色的产品和有效的服务。
       </div>
       <div>
         公司旗下拥有：传奇世界、超神之刃、三生三世十里桃花等多款游戏，提升玩家体验
       </div >
       <div class="end">
         公司自行研发游戏：吉姆战旗、左右左右、群消乐online等已上线游戏，从而实现最优质的闪炫品牌倡导。
       </div>
    </div>


    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
