<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>联系我们</title>
  <% include common/head.html %>
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/header.html  %>
    <div class="header">
     <img src="../img/img_lianxiwomen.png" alt="">
    </div>
    <div class="mainContent">
     <div>
     公司名称：广州炫娱网络科技有限公司
     </div>
     <div>
     公司地址：广州市天河区棠下涌东路306号大地工业园D栋501
     </div>
     <div>
     电话：020-29880166
     </div>
     <div>
       游戏客服联系方式：
       <p> QQ：2851148056（服务时间：9:00~18:30）</p>
       <p>QQ：2851148078（服务时间：9:00~18:30）</p>
       <p>QQ：2851148077（服务时间：9:00~18:30）</p>
     </div>
     <div>
       公会合作 QQ：1215737781
     </div>
     <div class="specific">
       商务合作 QQ：798843259
     </div>
    </div>


    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
