<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>专题详情</title>
</head>

<body>
  <% include common/header.html %>
  <div class="specialDetailDetail-game-collection">
    <%- img(750, 240, 'block__img') %>
  </div>
  <div class="specialDetailDetail-game-introduction-container">
    <div class="game-introduction">
      《御天传奇H5》是一款由腾讯正版授权，蝴蝶互动倾力打造并发行以三国时期为背景的ARPG游戏产品.真实还原三国古战场的血腥征战，下线后自动挂机，升级刷装备，上线后自动pk，还能自动完成任务，简直是懒人必备啊！
    </div>
  </div>
  <div class="g-gameList special-detail-container">
    <ul>
      <% for(var i = 0; i < 6; i++) {%>
        <% include common/game-item.html %>
      <% } %>
    </ul>

  </div>
  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
