<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>专题列表</title>
</head>

<body>
  <% include common/header.html %>
  <div class="detailSpecialList-game-list-container">
    <% for(var i = 0; i < 6; i++) {%>
      <div class="detailSpecialList-game-collection">
        <a href="#"><%- img(750, 240, 'block__img') %></a>
      </div>
      <% } %>
  </div>
  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>
<script src="../js/detail-special_list.js" charset="utf-8"></script>
</body>

</html>
