<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>礼包详情</title>
</head>

<body>
  <!-- 引入公共头部  -->
  <div class="m-header">
    <header class="bar bar-nav">
      <a class="f-fl" href="#">
        <i class="icon icon-back"> </i>
      </a>
      <h1 class="title">礼包详情</h1>
    </header>
  </div>

    <div class="m-page">




      <!-- 游戏列表区域  -->
      <div class="g-gameList g-gameList-margin-top">
          <ul>
            <% include common/gift-item.html %>
          </ul>
      </div>



    <!-- 游戏说明区域  -->
      <div class="g-gameList g-gameList-border-bottom-line">
          <div class="contenTitle titleDisactive">
            礼包内容
          </div>
            <p class="contentText">
              据阿桑德拉和弗拉恢复了哈罗德和法律的哈市妇联哈喽电话费拉黑立法会拉黑法拉赫莱佛哈喽电话费拉黑礼服
            </p>
      </div>
    <!-- 游戏说明区域 end  -->


    <!-- 游戏说明区域  -->
      <div class="g-gameList">
          <div class="contenTitle titleDisactive">
            游戏动态
          </div>
          <ul>
            <% for(var i = 0; i < 3; i++) {%>
              <% include common/gift-item.html %>
            <% } %>
          </ul>
      </div>
    <!-- 游戏说明区域 end  -->


    </div>

    <!-- 点击返回顶部 -->
    <% include common/m-gotop.html %>

    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
