<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>活动详情</title>
</head>

<body>
  <% include common/header.html %>
  <div class="activityDetailIntro-activity-content">
    <div class="activity-image">
      <%- img(750, 350, 'block__img') %>
    </div>
    <div class="activity-title">
      愿原力与你同在
    </div>
    <div class="activity-time">
      <span class="start-time">2017.5.27</span>-<span class="end-time">2017.6.1</span>
    </div>
  </div>
  <div class="activityDetailIntro-activity-introduction-container">
    <div class="activity-introduction">
      活动一：吃粽子
  活动内容：
  （1）活动期间，玩家可至活动页面吃粽子，粽子品质分为低级粽子、中级粽子和高级粽子
  ，吃的等级越高获得饱食度越高；
  （2）活动期间，吃粽子次数和饱食度达到一定额度即可开启宝箱；
  （3）活动期间，可以参加吃粽子小游戏获得额外的饱食度：点击屏幕吃粽子，点击越快，获得的饱食度越高；
  （4）活动期间，每天有限制的吃粽子次数，根据vip等级可以购买额外次数，饱食度和次数每日0点重置。

  活动二：充值送“粽”礼
  活动内容：
  （1）活动期间，充值：
  6元：粽子代金券、特戒袋、元宝红包、豪华宝石箱；
  30元：粽子代金券、羽毛、天神抽奖券、元宝红包、元神大礼包；
  98元：粽子代金券、天神抽奖券、元宝红包、魔力卷轴、元宝红包 。
    </div>
  </div>
  <div class="activityDetailComment-player-comment">
    <span>玩家评论</span>
  </div>
  <div class="activityDetailComment-comment-box-container">
      <% include common/commentBoxNoStar.html %>
  </div>
  <div class="activityDetailComment-g-gameList">
    <ul class="commentList detail_introduction_commentList">
      <% for(var i = 0; i < 10; i++) {%>
        <% include common/commentList.html %>
      <% } %>
    </ul>

  </div>
  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>
<script type="text/javascript">
const commentButtons = document.querySelectorAll('.icon-pinglun');
// 兼容ios
for (let commentButtonsIndex = 0; commentButtonsIndex < commentButtons.length; commentButtonsIndex++) {
  commentButtons[commentButtonsIndex].addEventListener('touchend',showCommentOthers);
}
function showCommentOthers(event) {
  // 获取当前点击的ul
  const AncestorList = event.target.parentNode.parentNode.parentNode.parentNode.parentNode;
  AncestorList.classList.add('comment-current');
  //获取节点
  const CurrentCommentOthersArea = document.querySelector('.comment-current .comment-other-textarea');
  const CurrentInput = document.querySelector('.comment-current .comment-other-textarea textarea');
  const CurrentButton = document.querySelector('.comment-current .comment-other-textarea button');
  const responseToPerson = document.querySelector('.comment-current .commentAuthor').innerHTML;
  // 改变部分样式并展示出来。
  CurrentInput.value = `回复${responseToPerson}：`;
  console.log(CurrentInput);
  CurrentInput.focus();
  CurrentInput.click();
  function ButtonEvent(event) {
    //重置类名和样式。
    CurrentInput.value = '';
    CurrentCommentOthersArea.style.display = 'none';
    AncestorList.classList.remove('comment-current');
    const hasPadding = document.querySelector('.padding-division');
    // 提交的时候移除监听。
    CurrentButton.removeEventListener('touchend', ButtonEvent);
    window.removeEventListener('touchend', hideCommentOthers);
  }
  // 对butto进行监听。
  CurrentButton.addEventListener('touchend',ButtonEvent);
  // 显示评论区域。
  CurrentCommentOthersArea.style.display = 'block';
  // 这个函数用于，点击屏幕其他部分的时候，将评论取隐藏。
  function hideCommentOthers(event) {
    const target = event.target;
    // 确认点击的对象是什么
    if(event.target !== CurrentInput && event.target !== CurrentButton) {
      console.log('remove');
      // 重置类名和样式。
      CurrentInput.value = '';
      CurrentCommentOthersArea.style.display = 'none';
      AncestorList.classList.remove('comment-current');
      // 移除监听。
      CurrentButton.removeEventListener('touchend', ButtonEvent);
      window.removeEventListener('touchend', hideCommentOthers);

    }
  }
  // 异步加入监听，监听window对象，如果点击的不是评论框或者button则移除dom节点，并移除
  // 监听。
  setTimeout(function () {
    console.log('add');
    // useCapture设置为ture，否则会冒泡截断执行事件，导致window事件后后触发，会消除样式。
    window.addEventListener('touchend', hideCommentOthers,true);
  })
}
  $(function() {
    var index = 0; //控制器
    $(window).scroll(function() {
      if (index > 5) {
        return false
      };
      console.log("scroll");
      var $this = $(this),
        viewH = $(window).height(), //可见高度
        contentH = $("body").get(0).scrollHeight, //内容高度
        scrollTop = $(window).scrollTop(); //滚动高度
        if (scrollTop / (contentH - viewH) >= 0.95 ) { //到达底部100px时,加载新内容

          // 这里加载数据.. 下边模拟数据加载
          console.log("这里加载数据");
          var html =
            `<li class="item">
              <div class="item-box">
                <span class="gameImg fifty_radius f-fl">
                  <%- img(100, 100) %>
                </span>
                <span class="con">
                  <div class="">
                    <p class="commentAuthor">DEMO</p>
                    <p class="commentContent">只要998，吕布貂蝉带回家-御天传奇良心福利攻略dddddddddd</p>
                    <div class="other-comment">
                      <div class="other-comment-item">
                        <span class="other-comment-author">@Jack Spaluo：</span>
                        <span class="ohter-comment-content">这游戏有毒哇</span>
                      </div>
                    </div>
                    <div class="date-text">
                      <span class="date">2017.4.22</span>
                      <i class="icon icon-pinglun" onclick="showCommentOthers(event)"></i>
                    </div>
                  </div>
                </span>
              </div>
              <div class="comment-other-textarea">
                <textarea name="name" ></textarea>
                <button type="button" name="confirm">提交</button>
              </div>
            </li>`;
          html = html + html + html + html + html;
          $(".commentList").append(html);
          const commentButtons = document.querySelectorAll('.icon-pinglun');
          for (let commentButtonsIndex = 0; commentButtonsIndex < commentButtons.length; commentButtonsIndex++) {
            commentButtons[commentButtonsIndex].addEventListener('touchend',showCommentOthers);
          }
          index++;
        }

    })
  })
</script>
</html>
