<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>专题详情</title>
</head>

<body>
  <% include common/header.html %>
  <div class="specialDetailDetail-game-collection">
    <%- img(750, 240, 'block__img') %>
  </div>
  <div class="specialDetailDetail-game-introduction-container">
    <div class="game-introduction">
      《御天传奇H5》是一款由腾讯正版授权，蝴蝶互动倾力打造并发行以三国时期为背景的ARPG游戏产品.真实还原三国古战场的血腥征战，下线后自动挂机，升级刷装备，上线后自动pk，还能自动完成任务，简直是懒人必备啊！
    </div>
  </div>
  <div class="g-gameList special-detail-container">
    <ul id="special_detail_information">
      <% for(var i = 0; i < 6; i++) {%>
        <% include common/game-item.html %>
      <% } %>
    </ul>

  </div>
  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>
<script type="text/javascript">
  $(function() {
    var index = 0; //控制器
    $(window).scroll(function() {
      if (index > 5) {
        return false
      };
      console.log("scroll");
      var $this = $(this),
        viewH = $(window).height(), //可见高度
        contentH = $("body").get(0).scrollHeight, //内容高度
        scrollTop = $(window).scrollTop(); //滚动高度
        if (scrollTop / (contentH - viewH) >= 0.95 ) { //到达底部100px时,加载新内容

          // 这里加载数据.. 下边模拟数据加载
          console.log("这里加载数据");
          var html =
            `<li class="game_item">
              <a href="#">
                <div class="gameImg f-fl fifteen_radius">
                  <%- img(120, 120) %>
                </div>
                <div class="con f-fl">
                  <div class="content f-fl">
                    <p>保卫萝卜2</p>
                    <div class="star">
                      <% for(var index = 0; index < 4; index++) {%>
                        <i class="icon iconActive icon-score1"></i>
                      <% } %>
                      <i class="icon icon-score1"></i>
                    </div>
                    <span class="margin-right30">策略类</span><span>人气:&nbsp;230116</span>
                  </div>
                </div>
                <div class="item-handle f-fr">
                  <a href="#" class="item-btn">开始</a>
                </div>
              </a>
            </li>`;
          html = html + html + html + html + html;
          $("#special_detail_information").append(html);
          index++;
        }

    })
  })
</script>
</html>
