<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>活动详情</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- 引入字体图标 -->
    <% include common/iconfont.html %>
  <link rel="stylesheet" type="text/css" href="../css/style-detail_activityDetailComment.css" />
</head>

<body>
  <div class="m-header">
    <header class="bar bar-nav">
      <a class="f-fl" href="#">
        <i class="icon icon-back"> </i>
      </a>
      <h1 class="title">活动详情</h1>
    </header>
  </div>
  <div class="activity-content">
    <div class="activity-image">
      <%- img(750, 350, 'block__img') %>
    </div>
    <div class="activity-title">
      愿原力与你同在
    </div>
    <div class="activity-time">
      <span class="start-time">2017.5.27</span>-<span class="end-time">2017.6.1</span>
    </div>
  </div>
  <div class="nav-bar">
    <div class="nav-bar-game">
      简介
    </div>
    <div class="nav-bar-paper">
      评论
    </div>
  </div>
  <div class="comment-box">
    <div class="comment-box-textarea">
      <textarea name="name" rows="8" cols="80"></textarea>
    </div>
  </div>
  <div class="confirm-button">
    <div class="">
      <button type="button" name="confirm">提交</button>
    </div>
  </div>
  <div class="player-comment">
    <span>玩家评论</span>
  </div>
  <div class="g-gameList">
    <ul>
      <% for(var i = 0; i < 10; i++) {%>
          <li class="item">
            <a href="#">
              <div class="gameImg f-fl fifty_radius">
                <%- img(100, 100) %>
              </div>
              <div class="con f-fr">
                <div class="f-fl">
                  <p class="contentTitle">DEMO</p>
                  <p class="contentText">只要998，吕布貂蝉带回家-御天传奇良心福利攻略dddddddddd</p>
                  <div class="date-text">
                    <span class="date">2017.4.22</span>
                    <i class="icon icon-pinglun"></i>
                  </div>

                </div>
              </div>
            </a>
          </li>

      <% } %>
    </ul>
  </div>

  <div class="back-to-top">
    <a href="#top">点击返回顶部</a>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
