<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>活动详情</title>
</head>

<body>
  <% include common/header.html %>
  <div class="activityDetailComment-activity-content">
    <div class="activity-image">
      <%- img(750, 350, 'block__img') %>
    </div>
    <div class="activity-title">
      愿原力与你同在
    </div>
    <div class="activity-time">
      <span class="start-time">2017.5.27</span>-<span class="end-time">2017.6.1</span>
    </div>
  </div>
  <div class="activityDetailComment-nav-bar">
    <div class="nav-bar-game">
      简介
    </div>
    <div class="nav-bar-paper">
      评论
    </div>
  </div>
  <div class="activityDetailComment-comment-box-container">
      <% include common/comment-box.html %>
  </div>
  <div class="activityDetailComment-player-comment">
    <span>玩家评论</span>
  </div>
  <div class="activityDetailComment-g-gameList">
    <ul class="commentList">
      <% for(var i = 0; i < 10; i++) {%>
        <% include common/commentList.html %>
      <% } %>
    </ul>

  </div>

  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
