<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>资讯详情</title>
</head>

<body class="informationDetailBody">
  <div class="m-header">
    <header class="bar bar-nav">
      <a class="f-fl" href="#">
        <i class="icon icon-back"> </i>
      </a>
      <h1 class="title">资讯详情</h1>
      <a class="f-fr" href="#">
        <i class="icon icon-shoucang"> </i>
      </a>
    </header>
  </div>
  <div class="informationDetail-game-content-container g-gameList">
    <ul>
        <% include common/game-item.html %>
    </ul>
  </div>
  <div class="informationDetail-information-paper">
    <div class="information-paper-title">
      老司机带你玩转《保卫萝卜》
    </div>
    <div class="information-paper-date">
      2017.5.27
    </div>
    <div class="information-paper-content">
      <div class="information-paper-image">
        <%- img(690, 280, 'block__img') %>
      </div>
      <p>
        御天传奇H5》是一款由腾讯正版授权，蝴蝶互动倾力打造并发行以三国时期为背景的ARPG游戏产品.真实还原三国古战场的血腥征战，下线后自动挂机，升级刷装备，上线后自动pk，还能自动完成任务，简直是懒人必备啊！！！那么，在《御天传奇H5》中，如何能够更好地体验到游戏最核心的玩点呢，小编来为大家解答咯！

  Q:很多人会来问背包容量会不会不够要不要买？
  A:游戏初期背包有200格，小编觉得在到达300级之前，这些容量就够用啦。有些等级低的装备就尽情的熔炼吧！装备熔炼后，能获得银子，还有可能会是装备哦！这就是展现人品的时候啦。当然啦，如果是RMB玩家，那想买就买（毕竟土豪的世界我们不懂）

  Q:小编，没有金子是不是很多不能玩啦？
  A:当然啦，毕竟还是有很多道具只能通过金子来购买的。所以金子还是很重要滴！各类副本是要相应的入场券才能进入，所以大家的金子还是尽量用买这些哦。

  Q：如何能够升级的更快？
  A:小编想吐槽一下这个升级也太快了吧！两天不到就到了300+级。但是，这不能阻止小编想要升到更高级。技巧没有什么啦，但是有途径哦！比如可以冲值月卡，月卡的福利就是升级加速。升级嗖嗖的。还有就是经验丹，但是这个是不卖的，系统赠送的。毕竟用经验丹也算开挂了。大家还是要多关注一下活动公告哦。
      </p>
    </div>
  </div>
  <div class="informationDetail-realatived-paper">
    <div class="relatived-paper-head">
      <span>相关文章</span>
    </div>
    <div >
      <ul>
        <% include common/news-item.html %>
      </ul>
    </div>
  </div>
  <div class="informationDetail-realatived-game">
    <div class="relatived-game-head">
      <span>相关游戏</span>
    </div>
    <% include common/relateGame-item.html %>
  </div>

  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
