<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>游戏合作</title>
  <% include common/head.html %>
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/header.html  %>
    <div class="company-header">
     <img src="../img/img_youxihezuo.png" alt="">
    </div>
    <div class="mainContent">
       <div>
         <h2>游戏合作</h2>
         <p>欢迎各H5页游公司，手机游戏研发与渠道公司洽谈合作 </p>
       </div>
       <div>
         <h2>公会合作 </h2>
         <p>欢迎各游戏公会会长，专服公司洽谈合作 </p>
       </div>
       <div>
         <h2>数据合作 </h2>
         <p>欢迎需要进行游戏内社交付费环境优化的游戏运营公司洽谈合作 </p>
       </div>
       <div>
         <h2>推广合作  </h2>
         <p>欢迎各品牌网站，公众号，网络联盟洽谈广告推广合作 </p>
       </div>
       <div class="specific contact">
         <ul>
           <li class="marginRight">
             <h2>游戏接入</h2>
             <div class="name">
               梁伟
             </div>
             <div class="contactInformation">
               QQ：2851148055
             </div>
             <div class="contactInformation">
               Tel：18312838047
             </div>
           </li>
           <li>
             <h2>媒体推广</h2>
             <div class="name">
               魏鲁衡
             </div>
             <div class="contactInformation">
               QQ：798843259
             </div>
             <div class="contactInformation">
               Tel：15986838596
             </div>
           </li>
           <li class="marginRight specific">
             <h2>客户服务</h2>
             <div class="name">
               陈锐
             </div>
             <div class="contactInformation">
               QQ：1184231795
             </div>
             <div class="contactInformation">
               Tel：15622312285
             </div>
           </li>
           <li>
             <h2>公会合作</h2>
             <div class="name">
               吴杰勇
             </div>
             <div class="contactInformation">
               QQ：2851148053
             </div>
             <div class="contactInformation">
               Tel：13632468360
             </div>
           </li>
         </ul>
       </div>
       <div class="clear"></div>
    </div>


    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
