<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <% include common/head.html %>
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/index_header.html %>
    <div class="m-page">
      <!-- 导航区域  -->
      <div class="g-nav">
        <ul class="g-nav_box">
          <li><a href="#"><i class="icon icon-home"> </i><div class="name">首页</div></a></li>
          <li><a href="#"><i class="icon icon-online-game1"> </i><div class="name">网游</div></a></li>
          <li><a href="#"><i class="icon icon-game"> </i><div class="name">单机</div></a></li>
          <li><a href="#" class="cur"><i class="icon icon-activity"> </i><div class="name">活动</div></a></li>
          <li><a href="#"><i class="icon icon-news"> </i><div class="name">资讯</div></a></li>
          <li><a href="#"><i class="icon icon-gift"> </i><div class="name">礼包</div></a></li>
        </ul>
      </div>
      <!-- 导航区域 end  -->

      <!-- 活动列表  -->
      <div class="g-activity_list">
        <ul>
          <% for(var i = 0; i < 4; i++) {%>
            <li class="item">
              <a href="#">
                  <div class="gameImg">
                    <%- img(690, 280) %>
                  </div>
                  <div class="con">
                    <div>
                      <p>愿原力与你同在</p>
                      <span>2017.5.27-2017.6.1</span>
                    </div>
                    <div class="item-handle">
                      <a href="#" class="btn btn-start">查看详情</a>
                    </div>
                  </div>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
      <!-- 活动列表 end  -->
      <!-- 点击返回顶部 -->
      <% include common/m-gotop.html %>
  </div>
      <!-- 引入公共地步 -->
      <% include common/footer.html %>

</body>

</html>
