<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>首页</title>

  <% include common/head.html %>
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/index_header.html %>
    <div class="m-page">
      <!-- 导航区域  -->
      <div class="g-nav">
        <ul class="g-nav_box">
          <li><a href="#"><i class="icon icon-home"> </i><div class="name">首页</div></a></li>
          <li><a href="#"><i class="icon icon-online-game1"> </i><div class="name">网游</div></a></li>
          <li><a href="#"><i class="icon icon-game"> </i><div class="name">单机</div></a></li>
          <li><a href="#"><i class="icon icon-activity"> </i><div class="name">活动</div></a></li>
          <li><a href="#" class="cur"><i class="icon icon-news"> </i><div class="name">资讯</div></a></li>
          <li><a href="#"><i class="icon icon-gift"> </i><div class="name">礼包</div></a></li>
        </ul>
      </div>
      <!-- 导航区域 end  -->

      <!-- 游戏二级导航区域  -->
        <% include common/g-threeTapNav.html %>
      <!-- 二级导航区域 end  -->

      <!-- 游戏列表区域  -->
      <ul class="tab_con">
        <li>
          <div class="g-gameList">
            <ul class="cur-ul">
              <% for(var i = 0; i < 10; i++) {%>
                <% include common/news-item.html %>
                <% } %>
            </ul>
          </div>
        </li>
        <li style="display:none">
          <div class="g-gameList">
            <ul>
              <% for(var i = 0; i < 6; i++) {%>
                <% include common/news-item.html %>
                <% } %>
            </ul>
          </div>
        </li>
        <li style="display:none">
          <div class="g-gameList">
            <ul>
              <% for(var i = 0; i < 6; i++) {%>
                <% include common/news-item.html %>
              <% } %>
            </ul>
          </div>
        </li>
      </ul>
      <!-- 游戏列表区域 end  -->

      <!-- 点击返回顶部 -->
      <% include common/m-gotop.html %>
    </div>

    <!-- 引入公共地步 -->
    <% include common/footer.html %>

      <script type="text/javascript">
        $(function() {
          var index = 0; //控制器
          $(window).scroll(function() {
            if (index > 5) {
              return false
            };
            console.log("scroll");
            var $this = $(this),
              viewH = $(window).height(), //可见高度
              contentH = $("body").get(0).scrollHeight, //内容高度
              scrollTop = $(window).scrollTop(); //滚动高度
              if (scrollTop / (contentH - viewH) >= 0.95 ) { //到达底部100px时,加载新内容

                // 这里加载数据.. 下边模拟数据加载
                console.log("这里加载数据");
                var html =
                  `<li class="news-item">
                  <a href="#">
                    <div class="gameImg f-fr">
                      <%- img(160, 140) %>
                    </div>
                    <div class="con f-fl">
                      <div class="f-fl">
                        <p>只要998，吕布貂蝉带回家-《御天传奇》良心福利攻略&nbsp;&nbsp;<span class="strategyFlag">攻略</span></p>
                        <span class="date">2017.4.22</span>
                      </div>
                    </div>
                  </a>
                </li>`;
                html = html + html + html + html + html;
                $(".g-gameList .cur-ul").append(html)
                index++;
              }

          })
        })
      </script>

</body>

</html>
