<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <% include common/iconfont.html %>
    <link rel="stylesheet" type="text/css" href="../css/style-index_activity.css" />
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/index_header.html %>
    <div class="m-page">
      <!-- 导航区域  -->
      <div class="g-nav">
        <ul class="g-nav_box">
          <li><a href="#" class="cur"><i class="icon icon-home"> </i><div class="name">首页</div></a></li>
          <li><a href="#"><i class="icon icon-online-game1"> </i><div class="name">网游</div></a></li>
          <li><a href="#"><i class="icon icon-game"> </i><div class="name">单机</div></a></li>
          <li><a href="#"><i class="icon icon-activity"> </i><div class="name">活动</div></a></li>
          <li><a href="#"><i class="icon icon-news"> </i><div class="name">资讯</div></a></li>
          <li><a href="#"><i class="icon icon-gift"> </i><div class="name">礼包</div></a></li>
        </ul>
      </div>
      <!-- 导航区域 end  -->

      <!-- 活动列表  -->
      <div class="g-activity_list">
        <ul>
          <% for(var i = 0; i < 4; i++) {%>
            <li class="item">
              <a href="#">
                  <div class="gameImg">
                    <%- img(690, 280) %>
                  </div>
                  <div class="con">
                    <div>
                      <p>愿原力与你同在</p>
                      <span>2017.5.27-2017.6.1</span>
                    </div>
                    <div class="item-handle">
                      <a href="#" class="btn btn-start">查看详情</a>
                    </div>
                  </div>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
      <!-- 活动列表 end  -->

</body>

</html>
