<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <% include common/iconfont.html %>
    <link rel="stylesheet" type="text/css" href="../css/style-index_gameClassify.css" />
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/index_header.html %>
    <div class="m-page">
      <!-- 导航区域  -->
      <div class="g-nav">
        <ul class="g-nav_box">
          <li><a href="#"><i class="icon icon-home"> </i><div class="name">首页</div></a></li>
          <li><a href="#" class="cur"><i class="icon icon-online-game1"> </i><div class="name">网游</div></a></li>
          <li><a href="#"><i class="icon icon-game"> </i><div class="name">单机</div></a></li>
          <li><a href="#"><i class="icon icon-activity"> </i><div class="name">活动</div></a></li>
          <li><a href="#"><i class="icon icon-news"> </i><div class="name">资讯</div></a></li>
          <li><a href="#"><i class="icon icon-gift"> </i><div class="name">礼包</div></a></li>
        </ul>
      </div>
      <!-- 导航区域 end  -->

      <!-- 游戏二级导航区域  -->
      <div class="g-gameSubNav">
        <ul class="g-gameSubNav_box">
          <li><a href="#"><div class="name">最新</div></a></li>
          <li><a href="#"><div class="name">热门</div></a></li>
          <li><a href="#" class="cur"><div class="name">游戏分类</div></a></li>
        </ul>
      </div>
      <!-- 二级导航区域 end  -->

      <!-- 游戏分类表格  -->
      <div class="g-gameClassifyTable">
        <ul>
          <% for(var i = 0; i < 17; i++) {%>
            <li class="item">
              <a href="#">
                <i class="icon icon-tiyulei1 icon-green f-fl"></i>
                <div class="con f-fl">
                  <div>
                    <p>体育类</p>
                    <span>共20款</span>
                  </div>
                </div>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
      <!-- 游戏分类表格结束  -->

      <!-- 点击返回顶部 -->
      <% include common/m-gotop.html %>

    </div>

    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
