<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <% include common/head.html %>
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/header.html  %>
    <div class="main">
      <div class="logo"><img src="../img/login_logo.png" alt=""></div>
      <form>
        <div class="main-message">
          <div class="login-message">
            <div class="user-container">
              <div class="user">
                <span>
             <i class="icon icon-shouji"></i>
           </span>
                <input type="text" placeholder="帐号" class="input" id="userName" />
              </div>
            </div>
            <div class="clear"></div>
            <div class="user-container">
              <div class="user">
                <span>
             <i class="icon icon-pwd"></i>
           </span>
                <input type="text" placeholder="密码" class="input" id="passWord" />

              </div>
            </div>
            <div class="rememberPassWord">
              <div class="f-fl radio" id="radio">
                <label><input name="Fruit" type="hidden" value="0" /> </label>
              </div>
              <div class="f-fl">
                记住密码
              </div>
            </div>
            <button type="button" name="button" class="button no" id="j-login_btn">登录</button>
            <div class="tie">
              <div class="f-fl">
                <a href="register.html">快速注册</a>
              </div>
              <div class="f-fr">
                <a href="retrieve-password.html">忘记密码</a>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="third-party">
        <div class="accounts">
          <div class="accounts-title"><span>第三方登录</span></div>
        </div>
        <div class="icon-image">
          <ul class="ul-center">
            <li class="qq">
              <div class="first">
                <i class="icon icon-qq contactIcon"></i>
              </div>
              <div class="margin">QQ</div>
            </li>
            <li class="weixin">
              <div class="first">
                <i class="icon icon-weixin contactIcon"></i>
              </div>
              <div class="margin">微信</div>
            </li>
            <li class="weibo">
              <div class="first">
                <i class="icon icon-weobo contactIcon"></i>
              </div>
              <div class="margin">微博</div>
            </li>
          </ul>
        </div>
        <div class="clear"></div>
      </div>
    </div>


    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
