<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <% include common/iconfont.html %>
    <link rel="stylesheet" type="text/css" href="../css/style-login.css" />
</head>

<body>
  <!-- 引入公共头部  -->
  <% include common/header.html  %>
   <div class="main">
     <div class="logo"><img src="../img/login_logo.png" alt=""></div>
     <form>
       <div class="main-message">
         <div class="login-message">
        <div class="user-container">
         <div class="user">
           <span >
             <i class="icon icon-shouji"></i>
           </span>
           <input type="text" placeholder="帐号" class="input"/>
           <div class="reminder">
              帐号不存在或者错误
           </div>
         </div>
          </div>
          <div class="clear">  </div>
          <div class="user-container">
         <div class="user">
           <span >
             <i class="icon icon-pwd"></i>
           </span>
           <input type="text" placeholder="密码" class="input"/>

         </div>
         </div>
         <button type="button" name="button" class="button">登录</button>
         <div class="tie">
           <div class="f-fl">
             <a href="register.html">快速注册</a>
           </div>
           <div class="f-fr" >
             <a href="retrieve-password.html">忘记密码</a>
           </div>
         </div>
         </div>
       </div>
     </form>
     <div class="third-party">
				<div class="accounts">
					<div class="accounts-title"><span>第三方帐号登录</span></div>
				</div>
				<div class="icon-image">
					<ul class="ul-center">
						<li>
							<div><img src="../img/icon_qq.png" alt=""></div>
  						<div class="margin">QQ</div>
						</li>
						<li class="weixin">
							<div><img src="../img/icon_wechat.png" alt=""></div>
							<div class="margin">微信</div>
						</li>
						<li>
							<div><img src="../img/icon_weibo.png" alt=""></div>
							<div class="margin">微博</div>
						</li>
					</ul>
				</div>
        <div class="clear"></div>
			</div>
    </div>


    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>

<script type="text/javascript">

</script>
