<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>我的卡箱</title>
</head>

<body>
  <% include common/header.html %>
  <div class="recharge-fail-container">
    <div class="recharge-fail-image">
      <i class="icon icon-chongzhishibai"></i>
    </div>
    <div class="recharge-fail-title">
      充值失败
    </div>
    <div class="recharge-fail-tips">
      <div class="recharge-fail-tips-titile">
        账户余额
      </div>
      <div class="recharge-fail-tips-number">
        +00
      </div>
    </div>
    <div class="back-to-previous-level">
      <a href="#">重试</a>
    </div>
    <div class="another-recharge">
      <a href="#">返回上一级</a>
    </div>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
