<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>荒芜之地</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- 引入字体图标 -->
    <% include common/iconfont.html %>
  <link rel="stylesheet" type="text/css" href="../css/style-messsageHint_notFound.css" />
</head>

<body>
  <div class="not-found-image">
    <img src="../img/404@3x.png" alt="">
  </div>
  <div class="not-found-character">
    来到了荒芜之地
  </div>
  <div class="back-to-index">
    返回首页
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
