<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
</head>

<body>
  <% include common/header.html %>
  <div class="recharge-success-container">
    <div class="recharge-success-image">
      <i class="icon icon-chongzhichenggong"></i>
    </div>
    <div class="recharge-success-title">
      充值成功
    </div>
    <div class="recharge-success-tips">
      <div class="recharge-success-tips-titile">
        账户余额
      </div>
      <div class="recharge-success-tips-number">
        +26
      </div>
    </div>
    <div class="back-to-previous-level">
      <a href="#">返回上一级</a>
    </div>
    <div class="another-recharge">
      <a href="#">继续充值</a>
    </div>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
