<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>充值中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- 引入字体图标 -->
    <% include common/iconfont.html %>
  <link rel="stylesheet" type="text/css" href="../css/style-myKeepPaper.css" />
</head>

<body>
  <div class="m-header">
    <header class="bar bar-nav">
      <a class="f-fl" href="#">
        <i class="icon icon-back"> </i>
      </a>
      <h1 class="title">我的收藏</h1>
    </header>
  </div>
  <div class="nav-bar">
    <div class="nav-bar-game">
      游戏
    </div>
    <div class="nav-bar-paper">
      文章
    </div>
  </div>
  <div class="g-gameList">
      <ul>
        <% for(var i = 0; i < 10; i++) {%>
            <li class="item">
              <a href="#">
                <div class="gameImg f-fr">
                  <%- img(160, 140, 'block__img') %>
                </div>
                <div class="con f-fl">
                  <div class="f-fl">
                    <p>只要998，吕布貂蝉带回家-《御天传奇》良心福利攻略&nbsp;&nbsp;<span class="strategyFlag">攻略</span></p>
                    <span class="date">2017.4.22</span>
                  </div>
                </div>
              </a>
            </li>

        <% } %>
      </ul>
    </div>
  <div class="back-to-top">
    <a href="#top">点击返回顶部</a>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
