<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>修改信息</title>
</head>

<body>
  <% include common/header.html %>
  <div class="modify-message">
    <form action="form_action.asp" method="get">
      <div class="modify-head-image fifty_radius">
        <label for="head-image-file-upload">
          <%- img(121, 121, 'block__img') %>
          <span class="touxiang">头像</span>
          <span class="limit">点击上传头像(最大限制为2M)</span>
        </label>
        <input type="file" name="head-image-file" id="head-image-file-upload">
      </div>
      <div class="modify-nickname modify-item">
        <p><span>昵称：</span><input type="text" name="nickname" spellcheck="false" value="Jack Spaluo"  /></p>
      </div>
      <div class="modify-uid modify-item">
        <p><span>UID：</span><input type="text" name="uid" spellcheck="false"  readonly="true" value="13800138000"  /></p>
      </div>
      <div class="modify-sex modify-item">
        <p>
          <span>性别：</span>
          <span>
            <label for="male"><i id="male-icon" class="icon icon-xingbie_nan active"> </i></label>
            <input type="radio" name="sex" spellcheck="false" id="male" value="male"  />
            <label for="female"><i  id="female-icon"  class="icon icon-xingbie_nv"> </i></label>
            <input type="radio" name="sex" spellcheck="false" id="female" value="female"  />
          </span>
        </p>
      </div>
      <div class="modify-phone modify-item">
        <p>
          <span>手机：</span>
          <input type="text" name="phone" spellcheck="false" value="13866622333"  />
        </p>
      </div>
      <div class="modify-email modify-item">
        <p><span>邮箱：</span><input type="text" name="email" spellcheck="false" value="jimugame@game.com"  /></p>
      </div>
      <div class="last-login">
        <span>最后登录时间</span>
        <span>2017-06-01 18:12</span>
      </div>
      <div class="register-time">
        <span>注册时间</span>
        <span>2017-05-16 15:46</span>
      </div>
      <div class="confirm-submit">
        <input id="confirm-button" type="submit" value="确认修改" />
      </div>
    </form>
  </div>
  <div class="modify-message-blank">

  </div>

    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>
  <script type="text/javascript">
    const male = document.getElementById('male-icon');
    const female = document.getElementById('female-icon');
    male.onclick = function () {
      const contains = male.classList.contains('active')
      if(!contains) {
        male.classList.add('active');
        female.classList.remove('active');
      }
    }
    female.onclick = function () {
      const contains = female.classList.contains('active')
      if(!contains) {
        female.classList.add('active');
        male.classList.remove('active');
      }
    }
    const submit = document.getElementById('confirm-button');
    const form = document.querySelector('form');
    submit.onclick = function (event) {
      event.preventDefault();
      console.log(form);
    }
    console.log(submit);
  </script>
</html>
