<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>我的收藏</title>
</head>

<body>
  <% include common/header.html %>
  <% include common/g-twoTapNav.html %>
  <ul class="tab_con">
    <li>
      <div class="g-gameList">
        <ul>
          <% for(var i = 0; i < 6; i++) {%>
            <% include common/game-item.html %>
          <% } %>
        </ul>

      </div>
    </li>
    <li style="display:none">
      <div class="g-gameList">
          <ul>
            <% for(var i = 0; i < 10; i++) {%>
              <% include common/news-item.html %>
            <% } %>
          </ul>
        </div>
    </li>
  </ul>


  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
