<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>我的收藏</title>
</head>

<body>
  <% include common/header.html %>
  <div class="myKeepGame-nav-bar">
    <div class="nav-bar-game cur">
      游戏
    </div>
    <div class="nav-bar-paper">
      文章
    </div>
  </div>
  <div class="g-gameList">
    <ul>
      <% for(var i = 0; i < 6; i++) {%>
        <% include common/game-item.html %>
      <% } %>
    </ul>

  </div>
  <% include common/m-gotop.html %>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
