<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>个人中心</title>
</head>

<body>
  <% include common/header.html %>
  <div class="personal-head-and-tool">
    <div class="head-and-tool-head">
      <div class="head-and-tool-head-image fifty_radius">
        <%- img(120, 120, 'block__img') %>
      </div>
      <div class="head-and-tool-head-message">
        <div class="head-and-tool-head-message-name">
          Jack Spaluo
        </div>
        <div class="head-and-tool-head-message-number">
          13800138000
        </div>
      </div>
      <div class="head-and-tool-head-arrow">
        <i class="icon icon-next"> </i>
      </div>
    </div>
    <div class="head-and-tool-tool">
      <div class="tool-item">
        <div class="tool-item-image">
          <i class="icon icon-Gbizhongxin"> </i>
        </div>
        <div class="tool-item-name">
          G币余额
        </div>
        <div class="tool-item-number">
          233
        </div>
      </div>
      <div class="tool-item">
        <div class="tool-item-image">
          <i class="icon icon-wodeshoucang"> </i>
        </div>
        <div class="tool-item-name">
          我的收藏
        </div>
        <div class="tool-item-number">
          16
        </div>
      </div>
      <div class="tool-item">
        <div class="tool-item-image">
          <i class="icon icon-wodekaxiang"> </i>
        </div>
        <div class="tool-item-name">
          我的卡箱
        </div>
        <div class="tool-item-number">
          26
        </div>
      </div>
    </div>
  </div>
  <div class="presonal-signature">
    <div class="signature-photo">
      <i class="icon icon-meiriqiandao"> </i>
    </div>
    <div class="signature-message">
      <div class="signature-everyday">
        每日签到
      </div>
      <div class="signature-points">
        1653积分
      </div>
    </div>
    <div class="signature-button">
      <span>签到</span>
    </div>
  </div>
  <div class="personal-message-password-consult">
    <div class="message-password-consult-item">
      <div class="message-password-consult-image">
        <i class="icon icon-message"> </i>
      </div>
      <div class="message-password-consult-name">
        我的消息
      </div>
      <div class="message-password-consult-arrow">
        <i class="icon icon-next"> </i>
      </div>
    </div>
    <div class="message-password-consult-item">
      <div class="message-password-consult-image">
        <i class="icon icon-pwd"> </i>
      </div>
      <div class="message-password-consult-name">
        修改密码
      </div>
      <div class="message-password-consult-arrow">
        <i class="icon icon-next"> </i>
      </div>
    </div>
    <div class="message-password-consult-item">
      <div class="message-password-consult-image">
        <i class="icon icon-lianxikefu"> </i>
      </div>
      <div class="message-password-consult-name">
        联系客服
      </div>
      <div class="message-password-consult-arrow">
        <i class="icon icon-next"> </i>
      </div>
    </div>
    </div>
    <div class="personal-center-logout">
      <a href="#">退出登录</a>
    </div>
    <% include common/m-gotop.html %>
  </div>

    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>
<script type="text/javascript">
  const signature = document.querySelector(".signature-button span");
  signature.onclick = function () {
    this.innerHTML = "已签到";
    this.style.backgroundColor = "#CCCCCC";
  }
</script>
</html>
