<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>我的收藏</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- 引入字体图标 -->
    <% include common/iconfont.html %>
  <link rel="stylesheet" type="text/css" href="../css/style-personalCenter_myKeepGame.css" />
</head>

<body>
  <div class="m-header">
    <header class="bar bar-nav">
      <a class="f-fl" href="#">
        <i class="icon icon-back"> </i>
      </a>
      <h1 class="title">我的收藏</h1>
    </header>
  </div>
  <div class="nav-bar">
    <div class="nav-bar-game cur">
      游戏
    </div>
    <div class="nav-bar-paper">
      文章
    </div>
  </div>
  <div class="game-content-container">
    <% for(var i = 0; i < 6; i++) {%>
      <div class="game-content">
        <div class="game-content-image">
          <%- img(121, 121, 'block__img') %>
        </div>
        <div class="game-content-message">
          <div class="game-content-message-detail">
            <div class="game-content-name">
              保卫萝卜
            </div>
            <div class="game-content-star">
              <i class="icon icon-score1"></i>
              <i class="icon icon-score1"></i>
              <i class="icon icon-score1"></i>
              <i class="icon icon-score1"></i>
              <i class="icon icon-score1"></i>
            </div>
            <div class="game-content-type">
              <span>策略类&nbsp;&nbsp;</span>
              <span>人气：<span>230116</span></span>
            </div>
          </div>
        </div>
        <div class="game-start-button">
          <button type="button" name="button">开始</button>
        </div>
      </div>
    <% } %>
  </div>
  <div class="back-to-top">
    <a href="#top">点击返回顶部</a>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
