<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>G币中心</title>
</head>

<body>
  <% include common/header.html %>
  <div class="g-center-rest">
    <div class="g-center-rest-number">
      233
    </div>
    <div class="g-center-rest-recharge">
      <a href="#">充值</a>
    </div>
  </div>
  <div class="g-center-message">
    <div class="g-center-message-head">
      <span>交易明细</span>
      <span>
        <i class="icon icon-back"></i>
      </span>
      <div class="g-center-message-selector">
        <div class="show-all">
          <!-- <span class="radio">
            <span class="radio-content"></span>
          </span> -->
          <input type="radio" id="showAll"  name="selector" value="">
          <label for="showAll">查看全部</label>
        </div>
        <div class="show-recharge">
          <input type="radio" id="showRecharge"  name="selector" value="">
          <label for="showRecharge">只看充值</label>
        </div>
        <div class="show-consume">
          <input type="radio" id="showConsume" name="selector" value="">
          <label for="showConsume">只看消费</label>
        </div>
      </div>
    </div>
    <% for(var i = 0; i < 4; i++) {%>
      <div class="g-center-message-detail consume">
        <div class="detail-image">
          <i class="icon icon-Gbizhongxin"></i>
        </div>
        <div class="detail-content">
          <p class="detail-content-title"><span>[机械迷城]</span><span>游戏消费</span></p>
          <p class="detail-content-time"><span>2017.05.28</span><span>18:30</span></p>
        </div>
        <div class="detaile-number">
          -26
        </div>
      </div>
    <% } %>
    <div class="g-center-message-detail recharge">
      <div class="detail-image">
        <i class="icon icon-Gbizhongxin"></i>
      </div>
      <div class="detail-content">
        <p class="detail-content-title"><span>平台充值</span><span></span></p>
        <p class="detail-content-time"><span>2017.05.28</span><span>18:30</span></p>
      </div>
      <div class="detaile-number">
        -26
      </div>
    </div>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>
<script type="text/javascript">
  const arrow = document.querySelector("span:nth-child(2)");
  const message = document.querySelectorAll(".g-center-message-detail ");
  const recharge = document.querySelectorAll(".recharge");
  const consume = document.querySelectorAll(".consume");
  const selector = document.querySelector(".g-center-message-selector");
  const showAll = document.querySelector(".show-all");
  const showRecharge = document.querySelector(".show-recharge");
  const showConsume = document.querySelector(".show-consume");
  console.log(arrow);
  arrow.onclick = function () {
    selector.style.display = 'block';
  }
  showAll.onclick = function () {
    for (let i = 0; i < message.length; i++) {
      message[i].style.display = "block";
    }
    selector.style.display = 'none';
    showAll.style.color = "black"
    showRecharge.style.color = "black"

    showConsume.style.color = "black"

    this.style.color = "#E22127";
  }
  showRecharge.onclick = function () {
    for (let i = 0; i < message.length; i++) {
      message[i].style.display = "none";
    }
    for (let i = 0; i < recharge.length; i++) {
      recharge[i].style.display = "block";
    }
    selector.style.display = 'none';
    showAll.style.color = "black"

    showRecharge.style.color = "black"
    showConsume.style.color = "black"

    this.style.color = "#E22127";
  }
  showConsume.onclick = function () {
    for (let i = 0; i < message.length; i++) {
      message[i].style.display = "none";
    }
    for (let i = 0; i < consume.length; i++) {
      consume[i].style.display = "block";
    }
    selector.style.display = 'none';
    showAll.style.color = "black"

    showRecharge.style.color = "black"

    showConsume.style.color = "black"
    this.style.color = "#E22127";
  }

</script>
</html>
