<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>充值中心</title>
</head>

<body>
  <% include common/header.html %>
  <div class="recharge-center">
    <div class="goods-name">
      <div class="goods-name-title">
        商品名称：
      </div>
      <div class="goods-name-content">
        平台币充值
      </div>
    </div>
    <div class="current-account">
      <div class="current-account-title">
        当前账号：
      </div>
      <div class="current-account-number">
        13800138000
      </div>
    </div>
    <div class="recharge-amount">
      <div class="recharge-amount-title">
        充值金额：
      </div>
      <div class="recharge-amount-amount">
        <span class="recharge-number">26</span>
        <span class="recharge-unit">元</span>
      </div>
      <div class="recharge-amount-tips">
        1元=10平台币
      </div>
    </div>
    <div class="pay-method">
      <div class="pay-method-title">
        支付方式：
      </div>
      <div class="pay-method-image">
        <i class="icon icon-icon_alipay"></i>&nbsp;&nbsp;支付宝
      </div>
    </div>
    <div class="pay-currently">
      <a href="#">立即支付</a>
    </div>
  </div>
  <div class="recharge-center-block ">

  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
