<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>我的卡箱</title>
</head>

<body>
  <% include common/header.html %>
  <div class="mycard-game-content-container">
    <% for(var i = 0; i < 4; i++) {%>
      <div class="mycard-game-content">
        <div class="game-content-image">
          <img src="" alt="">
        </div>
        <div class="game-content-message">
          <div class="game-content-message-detail">
            <div class="game-content-name">
              保卫萝卜
            </div>
            <div class="game-content-type">
              <span>策略类&nbsp;&nbsp;</span>
              <span>人气：<span>230116</span></span>
            </div>
          </div>
        </div>
        <div class="mycard-game-copy-button">
          <a href="#"><button type="button" name="button">复制</button></a>
        </div>
      </div>
    <% } %>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
