<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <% include common/head.html %>
  <title>G币中心</title>
</head>

<body>
  <% include common/header.html %>
  <div class="g-center-rest">
    <div class="g-center-rest-number">
      233
    </div>
    <div class="g-center-rest-recharge">
      <a href="#">充值</a>
    </div>
  </div>
  <div class="g-center-message">
    <div class="g-center-message-head">
      <span>交易明细</span>
      <span>
        <i class="icon icon-back"></i>
      </span>
      <div class="g-center-message-selector">
        <div class="show-all">
          <i class="icon icon-xuanxiang"></i>查看全部
        </div>
        <div class="show-recharge">
          <i class="icon icon-xuanxiang"></i>只看充值
        </div>
        <div class="show-consume">
          <i class="icon icon-xuanxiang"></i>只看消费
        </div>
      </div>
    </div>
    <% for(var i = 0; i < 4; i++) {%>
      <div class="g-center-message-detail consume">
        <div class="detail-image">
          <i class="icon icon-Gbizhongxin"></i>
        </div>
        <div class="detail-content">
          <p class="detail-content-title"><span>[机械迷城]</span><span>游戏消费</span></p>
          <p class="detail-content-time"><span>2017.05.28</span><span>18:30</span></p>
        </div>
        <div class="detaile-number">
          -26
        </div>
      </div>
    <% } %>
    <div class="g-center-message-detail recharge">
      <div class="detail-image">
        <i class="icon icon-Gbizhongxin"></i>
      </div>
      <div class="detail-content">
        <p class="detail-content-title"><span>平台充值</span><span></span></p>
        <p class="detail-content-time"><span>2017.05.28</span><span>18:30</span></p>
      </div>
      <div class="detaile-number">
        -26
      </div>
    </div>
  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>
    <script src="../js/personalCenter_gCenter.js" charset="utf-8"></script>
</body>
</html>
