<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>充值中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <!-- 引入字体图标 -->
    <% include common/iconfont.html %>
  <link rel="stylesheet" type="text/css" href="../css/style-recharge.css" />
</head>

<body>
  <div class="m-header">
    <header class="bar bar-nav">
      <a class="f-fl" href="#">
        <i class="icon icon-back"> </i>
      </a>
      <h1 class="title">充值中心</h1>
    </header>
  </div>
  <div class="recharge-center">
    <div class="goods-name">
      <div class="goods-name-title">
        商品名称：
      </div>
      <div class="goods-name-content">
        平台币充值
      </div>
    </div>
    <div class="current-account">
      <div class="current-account-title">
        当前账号：
      </div>
      <div class="current-account-number">
        13800138000
      </div>
    </div>
    <div class="recharge-amount">
      <div class="recharge-amount-title">
        充值金额：
      </div>
      <div class="recharge-amount-amount">
        <span class="recharge-number">26</span>
        <span class="recharge-unit">元</span>
      </div>
      <div class="recharge-amount-tips">
        1元=10平台币
      </div>
    </div>
    <div class="pay-method">
      <div class="pay-method-title">
        支付方式：
      </div>
      <div class="pay-method-image">
        <i class="icon icon-icon_alipay"></i>&nbsp;&nbsp;支付宝
      </div>
    </div>
    <div class="pay-currently">
      立即支付
    </div>
  </div>
  <div class="block">

  </div>
    <!-- 引入公共地步 -->
    <% include common/footer.html %>

</body>

</html>
