<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" type="text/css" href="../../css/style-index.css" />
</head>

<body>
  <!-- 引入公共头部  -->
    <% include homePageCommon/homePageHeader.html %>
    <div class="m-page">

      3333
    </div>
    <!-- 图片1 -->
    <%- img(200, 400, 'block__img') %>
    <div class="homePage-container">
      <h4 class="homePage-container-title">我玩过的</h4>
    </div>
    <!-- 引入公共地步 -->
    <% include ../common/footer.html %>

</body>

</html>
