<!DOCTYPE HTML>
<html lang="zh-CN" data-rem="375">

<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta content="telephone=no" name="format-detection" />
  <meta content="email=no" name="format-detection" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="//at.alicdn.com/t/font_015ldxy5b8x5hfr.css">
  <link rel="stylesheet" type="text/css" href="../../css/style-homePage.css" />
</head>

<body>
  <!-- 引入公共头部  -->
    <% include homePageCommon/homePageHeader.html %>
    <% include homePageCommon/homePageNavBar.html %>
    <div class="m-page">

      3333
    </div>
    <!-- 图片1 -->
    <%- img(200, 400) %>
    <div class="m-ct">
      <h2 class="u-tt">我玩过的</h2>
      <% for(var index=0;index<4;index++){%>
        <% include homePageCommon/home_page_index_item.html %>
      <%}%>
      <% include homePageCommon/home_page_index_container_bottom.html %>
    </div>
    <div class="m-ct">
      <h2 class="u-tt">精品推荐</h2>
      <% for(var index=0;index<4;index++){%>
        <% include homePageCommon/home_page_index_item.html %>
      <%}%>
      <% include homePageCommon/home_page_index_container_bottom.html %>
    </div>
    <!-- 图片2 -->
    <%- img(200, 400) %>
    <div class="m-ct">
      <h2 class="u-tt">热门游戏</h2>
      <% for(var index=0;index<4;index++){%>
        <% include homePageCommon/home_page_index_item.html %>
      <%}%>
      <% include homePageCommon/home_page_index_container_bottom.html %>
    </div>
    <!-- 图片3 -->
    <%- img(200, 400) %>
    <div class="m-ct">
      <h2 class="u-tt">经典游戏</h2>
      <% for(var index=0;index<4;index++){%>
        <% include homePageCommon/home_page_index_item.html %>
      <%}%>
      <% include homePageCommon/home_page_index_container_bottom.html %>
    </div>
    <div class="m-ct">
      <h2 class="u-tt">最新专题</h2>
       <div class="u-banner">
         <% include homePageCommon/home_page_index_container_banner.html %>
       </div>

      <% include homePageCommon/home_page_index_container_bottom.html %>
    </div>
    <!-- 到顶部的按钮 -->
    <% include homePageCommon/home_page_index_container_toTop.html %>
    <!-- 引入公共地步 -->
    <% include ../common/footer.html %>

</body>

</html>
