<li class="game_item">
  <a href="#">
    <div class="gameImg f-fl fifteen_radius">
      <%- img(120, 120) %>
    </div>
    <div class="con f-fl">
      <div class="content f-fl">
        <p>保卫萝卜2</p>
        <div class="star">
          <% for(var index = 0; index < 4; index++) {%>
            <i class="icon iconActive icon-score1"></i>
          <% } %>
          <i class="icon icon-score1"></i>
        </div>
        <span class="margin-right30">策略类</span><span>人气:&nbsp;230116</span>
      </div>
    </div>
    </a>
    <div class="item-handle f-fr">
      <a href="#" class="item-btn">开始</a>
    </div>
</li>
