<div class="relatived-game-link">
  <a href="#">
    <div class="link-item fifteen_radius">
      <%- img(120, 120, 'block__img') %>
      <div class="link-title">
        乱弹诸神
      </div>
    </div>
  </a>
  <a href="#">
    <div class="link-item fifteen_radius">
      <%- img(120, 120, 'block__img') %>
      <div class="link-title">
        皇室战争
      </div>
    </div>
  </a>
  <a href="#">
    <div class="link-item fifteen_radius">
      <%- img(120, 120, 'block__img') %>
      <div class="link-title">
        仙剑奇侠传
      </div>
    </div>
  </a>
</div>
