.bar {
  height: 2rem;
  padding-right: .5rem;
  padding-left: .5rem;
  background-color: #fff;
  // border-bottom: 1px solid @style-brcg;
  .headerBar {
    z-index: 999;
  }
  .icon{
    padding: .7rem .1rem;
    color: @style-grey;
  }
  .icon-shoucang_pre {
    color: #e22127;
  }
}

.title {
  position: absolute;
  display: block;
  padding: 0;
  width: 30%;
  // margin: 0 -.5rem;
  font-size: .85rem;
  font-weight: 500;
  line-height: 2.2rem;
  color: @style-black;
  text-align: center;
  white-space: nowrap;
  z-index: 0;
  left: 50%;
  margin-left: -15%;
}
