.header{
  width:100%;
  height: 280/@root;
  margin-top: 28/@root;
  img{
    width: 100%;
    height: 100%;
  }
}
.mainContent{
  width: 100%;
  padding: 50/@root 30/@root 30/@root 30/@root;
  box-sizing: border-box;
  background: @style-default;
  font-size: 28/@root;
  margin-bottom: 130/@root;
 div{
    line-height: 45/@root;
    margin-bottom: 50/@root;
  }
  .specific{
    margin-bottom: 0;
  }
}
