// footer
.g-footer{
	background: #fff;
	text-align: center;
	font-size: 0.6rem;
	line-height: 2em;
	padding: 0.65rem 0;
}

.m-footer_link{
	margin-bottom: 0.3rem;
		li{
			display: inline-block;
			margin:0 0.65rem;
			a{
				color: @style-black;
			}
		}
}
