.company-header {
  width:100%;
  height: 280/@root;
  margin-top: 28/@root;
  img{
    width: 100%;
    height: 100%;
  }
}
.mainContent{
  width: 100%;
  padding: 50/@root 30/@root 30/@root 30/@root;
  box-sizing: border-box;
  background: @style-default;
  font-size: 28/@root;
  margin-bottom: 130/@root;
 div{
    line-height: 45/@root;
    margin-bottom: 50/@root;
    h2{
      font-size: 32/@root;
      font-weight: normal;
      color: @style-black;
    }
    p{
      font-size: 28/@root;
      color: @style-grey;
    }
  }
}
.specific{
  margin-bottom: 0 !important;
}
.contact{
  width: 100%;
  background: @style-default;
  margin-bottom: 130/@root;
  ul{
    overflow: hidden;
    padding: 0 15/@root ;
    li{
     width: 50%;
     // height: 228/@root;
     padding: 0 15/@root 30/@root 15/@root;
     box-sizing: border-box;

     float: left;
     .connectContainer{
       width: 100%;
       height: 100%;
       border: 1px solid @style-brcg;
       padding: 30/@root 0 30/@root 36/@root;
       box-sizing: border-box;
     }
     h2{
       color: #FF7500;
       margin-bottom: 30/@root;
     }
     div{
       margin-bottom: 0;
     }
   }
  }

 .name{
  color: @style-black;
  margin-bottom: 30/@root;
  }
}
.contactInformation{
  color: @style-grey;
  margin-bottom: 20/@root !important;
}
