/* 引入库文件 */
@import "./lib/lib-reset";
@import "./lib/lib-mixins";
@import "./lib/lib-base";
@import "./lib/lib-ui";

// 引入 REM 解决方案依赖
// 调用示例 <html data-rem="375">
@import "./lib/lib-rem";

/* 引入 Less 依赖文件 */
@import "mod-header";
@import "mod-footer";

@root:40rem;
body {
  background-color: @style-bg;
}
.nav-bar {
  margin: 20/@root auto;
  width: 690 / @root;
  height: 68 / @root;
  background-color: @style-default;
  border: 1/@root solid @style-itmeBorder;
  .nav-bar-game {
    float: left;
    margin-left: 187 / @root;
    height: 68 / @root;
    line-height: 68 / @root;
    vertical-align: middle;
    font-size: 30 / @root;
    box-sizing: border-box;
  }
  .nav-bar-paper {
    float: left;
    margin-left: 202 / @root;
    height: 68 / @root;
    line-height: 68 / @root;
    vertical-align: middle;
    font-size: 30 / @root;
    box-sizing: border-box;
    // border-bottom: 3/@root solid red;
  }
  .cur {
    position: relative;
  }
  .cur::after {
    content: '';
    width: 60/@root;
    display: inline-block;
    position: absolute;
    border-bottom: 4/@root solid @style-main;
  }
}

@style-yellow:#ffbb59;
@style-itmeBorder:#CCCCCC;
.g-gameList{
  padding:30/@root 10/@root 0;
  background: @style-default;
  width: 100%;
  box-sizing: border-box;
  margin-top:30/@root;
  overflow: hidden;
  ul{
    overflow: hidden;
    li{
      width: 100%;
      float: left;
      padding: 0 0.5rem;
      box-sizing: border-box;
      margin-bottom: 1rem;
      position: relative;
      border-bottom: 1px solid @style-itmeBorder;
      .gameImg{
        display: inline-block;
        width: 160/@root;
        height: 140/@root;
        padding-bottom: 20/@root;
        margin-bottom: 30/@root;
          img{
            width: 100%;
            height: 100%;
          }
      }
      .con{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5em;
        width: 510/@root;
        p{
          font-size: 30/@root;
          line-height: 40/@root;
          vertical-align: middle;
          color: @style-black;
          margin-bottom: 40/@root;
        }
        .date{
          font-size: 22/@root;
          line-height: 20/@root;
          vertical-align: middle;
          color: @style-brc;
        }
        .strategyFlag{
          border: 1px solid #92cff9 ;
          height: 20/@root;
          width: 42/@root;
          font-size: 22/@root;
          line-height: 20/@root;
          vertical-align: middle;
          color: #92cff9;
        }

      }
    }
  }

}
.back-to-top {
  width: 100%;
  height: 102 /@root;
  line-height: 102 /@root;
  vertical-align: middle;
  text-align: center;
  a:link, a:visited, a:hover, a:active {
    font-size: 22 / @root;
    text-decoration: none;
    color: @style-grey;
  }
}
