/* 引入库文件 */
@import "./lib/lib-reset";
@import "./lib/lib-mixins";
@import "./lib/lib-base";
@import "./lib/lib-ui";

// 引入 REM 解决方案依赖
// 调用示例 <html data-rem="375">
@import "./lib/lib-rem";

/* 引入 Less 依赖文件 */
@import "mod-header";
@import "mod-footer";
@import "mod-game_item";
@import "mod-news_item";
@import "mod-relateGame_item";

@root:40rem;
body {
  background-color: @style-bg;
}
.informationDetailBody {
  .g-gameList {
    border-bottom: none;
  }
}
.informationDetail-game-content-container {
  margin-top: 20/@root;
  width: 100%;
  padding: 0 30/@root;
  box-sizing: border-box;
  background-color: @style-default;
  ul {
    li:last-child {
      border-bottom: 0;
    }
  }
}
.informationDetail-information-paper {
  width: 100%;
  box-sizing: border-box;
  padding: 20/@root 30/@root 0;
  background-color: @style-default;
  .information-paper-title {
    font-size: 32 / @root;
    line-height: 28 / @root;
    color: #333333;
  }
  .information-paper-date {
    font-size: 22 / @root;
    line-height: 20 / @root;
    margin-top: 21 / @root;
    color: #999999;
  }
  .information-paper-content {
    margin-top: 38 / @root;
    font-size: 26 / @root;
    line-height: 44 / @root;
    border-bottom: 1/@root solid #CCCCCC;
    padding-bottom: 30 / @root;
    // 为文本定义好相关样式。
    p {
      text-indent: 52/@root;
    }
    li {

    }
    h1 {

    }
    .information-paper-image {
      width: 100%;
      height: auto;
      img {
        width: 690/@root;
        height: 280/@root;
      }
    }
  }
}
.informationDetail-realatived-paper {
  width: 100%;
  box-sizing: border-box;;
  padding: 30 / @root;
  background-color: @style-default;
  .relatived-paper-head {
    position: relative;
    padding-left: 14 / @root;
    height: 28 / @root;
    width: 100%;
    border-left: 0.1rem solid #E22127;
    span:nth-child(1) {
      float: left;
      font-size: 28 / @root;
      line-height: 28 / @root;
    }
  }
  ul{
    overflow: hidden;
    padding-top: 20 / @root;
  }
}
.informationDetail-realatived-game {
  width: 100%;
  box-sizing: border-box;;
  padding: 0 30 / @root 30 / @root 30 / @root;
  background-color: @style-default;
  .relatived-game-head {
    position: relative;
    padding-left: 14 / @root;
    height: 28 / @root;
    width: 100%;
    border-left: 0.1rem solid #E22127;
    span:nth-child(1) {
      float: left;
      font-size: 28 / @root;
      line-height: 28 / @root;
    }
  }
  .relatived-game-link {
    padding-top: 30/@root;
  }
}
