/* 引入库文件 */
@import "./lib/lib-reset";
@import "./lib/lib-mixins";
@import "./lib/lib-base";
@import "./lib/lib-ui";

// 引入 REM 解决方案依赖
// 调用示例 <html data-rem="375">
@import "./lib/lib-rem";

/* 引入 Less 依赖文件 */
@import "mod-header";
@import "mod-footer";

@root:40rem;
body {
  background-color: @style-bg;
}
.informationDetail-game-content-container {
  margin-top: 20/@root;
  width: 100%;
  padding: 0 30/@root;
  box-sizing: border-box;
  background-color: @style-default;
}
.informationDetail-game-content {
  box-sizing: border-box;
  padding: 30/@root 0;
  width: 100%;
  height: 180 / @root;
  background-color: @style-default;
  border-bottom: 1/@root solid #CCCCCC;
  .game-content-image {
    float: left;
    width: 120 / @root;
    height: 120 / @root;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .game-content-message {
    float: left;
    height: 121 / @root;
    padding-left: 24 / @root;
    .game-content-name {
      line-height: 34 / @root;
      font-size: 32 / @root;
      color: #333333;
    }
    .game-content-star {
      margin-top: 10 / @root;
      i {
        font-size: 0.75rem;
        color: #FFBB59;
        width: 30 / @root;
      }
    }
    .game-content-type {
      margin-top: 10 / @root;
      font-size: 22 / @root;
      color: @style-grey;
    }
  }
}
.informationDetail-game-content:last-child {
  border-bottom: none;
}
.informationDetail-game-start-button {
  float: right;
  width: 100 / @root;
  height: 100%;
  line-height: 121 / @root;
  text-align: center;
  vertical-align: middle;
  button {
    width: 100%;
    height: 50 / @root;
    background-color: #E22127;
    border: none;
    .rounded(4/@root);
    color: @style-default;
  }
}
.informationDetail-information-paper {
  width: 100%;
  box-sizing: border-box;
  padding: 20/@root 30/@root 0;
  background-color: @style-default;
  .information-paper-title {
    font-size: 32 / @root;
    line-height: 28 / @root;
    color: #333333;
  }
  .information-paper-date {
    font-size: 22 / @root;
    line-height: 20 / @root;
    margin-top: 21 / @root;
    color: #999999;
  }
  .information-paper-content {
    margin-top: 38 / @root;
    font-size: 26 / @root;
    line-height: 44 / @root;
    border-bottom: 1/@root solid #CCCCCC;
    padding-bottom: 30 / @root;
    // 为文本定义好相关样式。
    p {
      text-indent: 52/@root;
    }
    li {

    }
    h1 {

    }
    .information-paper-image {
      width: 100%;
      height: auto;
      img {
        width: 690/@root;
        height: 280/@root;
      }
    }
  }
}
.informationDetail-realatived-paper {
  width: 100%;
  box-sizing: border-box;;
  padding: 30 / @root;
  background-color: @style-default;
  .relatived-paper-head {
    position: relative;
    padding-left: 14 / @root;
    height: 28 / @root;
    width: 100%;
    border-left: 0.1rem solid #E22127;
    span:nth-child(1) {
      float: left;
      font-size: 28 / @root;
      line-height: 28 / @root;
    }
  }
  ul{
    overflow: hidden;
    padding-top: 20 / @root;
    li{
      width: 100%;
      float: left;
      box-sizing: border-box;
      position: relative;
      border-bottom: 1px solid @style-itmeBorder;
      .gameImg{
        display: inline-block;
        width: 160/@root;
        height: 140/@root;
        padding-bottom: 20/@root;
        margin-bottom: 30/@root;
          img{
            width: 100%;
            height: 100%;
          }
      }
      .con{
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5em;
        width: 500/@root;
        p{
          font-size: 30/@root;
          line-height: 40/@root;
          vertical-align: middle;
          color: @style-black;
          margin-bottom: 40/@root;
        }
        .date{
          font-size: 22/@root;
          line-height: 20/@root;
          vertical-align: middle;
          color: @style-brc;
        }
        .strategyFlag{
          border: 1px solid #92cff9 ;
          height: 20/@root;
          width: 42/@root;
          font-size: 22/@root;
          line-height: 20/@root;
          vertical-align: middle;
          color: #92cff9;
        }

      }
    }
  }
}
.informationDetail-realatived-game {
  width: 100%;
  box-sizing: border-box;;
  padding: 0 30 / @root 30 / @root 30 / @root;
  background-color: @style-default;
  .relatived-game-head {
    position: relative;
    padding-left: 14 / @root;
    height: 28 / @root;
    width: 100%;
    border-left: 0.1rem solid #E22127;
    span:nth-child(1) {
      float: left;
      font-size: 28 / @root;
      line-height: 28 / @root;
    }
  }
  .relatived-game-link {
    width: 100%;
    height: 197 / @root;
    box-sizing: border-box;
    padding-top: 30 / @root;
    a {
      display: inline-block;
      .link-item {
        display: inline-block;
        width: 150 / @root;
        text-align: center;
        img {
          width: 120 / @root;
          height: 120 / @root;
        }
        .link-title {
          width: 100%;
          text-align: center;
          line-height: 80 / @root;
          font-size: 30 / @root;

        }
      }
    }
    a:link, a:hover, a:active, a:visited {
      color: black;
      text-decoration: none;
    }
    a:nth-child(2) {
      margin-left: 100 /@root;
    }
    a:nth-child(3) {
      margin-left: 100 / @root;
    }
  }
}
